// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.btn {
  @include min-touch-size;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 0.6rem;
  font-weight: bold;

  background-color: inherit;

  &:hover {
    background-color: rgba($blue, 0.2);
  }
}

.btn.btn-sm {
  font-size: 0.6rem;
}

.btn-link-minimal {
  display: inline;
  height: auto;
  width: auto;
  padding: 0;
  border: 0;
  font-weight: normal;

  @media (min-width: $size-md) {
    min-height: 0;
  }
}

.btn-used {
  border-color: darken($violet, 3%);
  color: $violet;

  &:hover {
    background-color: darken($violet, 3%);
    border-color: darken($violet, 8%);
    color: #fff;
  }
}

.btn-comment-collapse {
  @include min-touch-size;

  height: 100%;
  line-height: 100%;
  padding: 0;

  font-weight: normal;

  margin-right: 0.4rem;
  @media (min-width: $size-md) {
    margin-right: 0.2rem;
    min-width: 0.8rem;
  }

  &:hover {
    color: $blue;
  }
}

.btn-comment-label {
  @include min-touch-size;

  display: inline-flex;
  align-items: center;
  margin: 0 0.4rem;
  padding: 0.2rem;

  font-size: 0.6rem;
  font-weight: bold;
  text-transform: capitalize;

  cursor: pointer;

  &.btn {
    height: 1rem;
    text-transform: capitalize;
  }

  &.btn-used {
    border: 1px solid;
  }
}

@mixin labelbutton($color) {
  color: $color;
  border-color: $color;

  &:hover {
    color: $color;
  }

  &.btn-used:hover {
    background-color: $color;
    color: #fff;
  }
}

.btn-comment-label-exemplary {
  @include labelbutton($comment-label-exemplary-color);
}

.btn-comment-label-joke {
  @include labelbutton($comment-label-joke-color);
}

.btn-comment-label-noise {
  @include labelbutton($comment-label-noise-color);
}

.btn-comment-label-offtopic {
  @include labelbutton($comment-label-offtopic-color);
}

.btn-comment-label-malice {
  @include labelbutton($comment-label-malice-color);
}
