// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.logged-in-user-info {
  font-size: 0.8rem;

  a {
    @include min-touch-size;

    display: flex;
    align-items: center;

    @media (min-width: $size-md) {
      justify-content: right;
    }
  }
}

.logged-in-user-alert {
  font-weight: bold;
  font-size: 0.5rem;
  color: $orange;

  &:visited {
    color: $orange;
  }
}
