// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.post-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0.2rem;

  // The buttons don't need to be spaced widely on a desktop
  @media (min-width: $size-md) {
    justify-content: left;
  }

  // Combined with flex-wrap: wrap, this should put any form on its own line
  form {
    min-width: 100%;
  }
}

.post-button {
  @include min-touch-size;

  display: flex;
  padding: 0.2rem 0.4rem;

  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 0.6rem;
  line-height: 0.6rem;

  cursor: pointer;
}

.post-button-used {
  text-decoration: underline;
}
